/*
 * Globals
 */
:root {
    --yellow: #f5a425;
    --blue: #151f38;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

/*
 * Header
 */

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
/*----custom utils----*/
.text-yellow {
    color: var(--yellow) !important;
}

.text-justify {
    text-align: justify !important;
}

.b1psr {
    border: 1px solid red !important;
}

/*---own css---*/
header {
    background-color: #151f388d;
    backdrop-filter: blur(6px);
}
.caption {
    background-color: #151f38cf;
}

#bg-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.ted {
    position: relative;
}

.about_us {
    background-image: url(../../../assets/image/choosing-bg.jpg);
    background-color: #0055ff;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .caption-text {
        font-weight: 900 !important;
        font-size: 70px !important;
    }
}

@media (min-width: 1555px) {
    .logo-text {
        font-weight: 900 !important;
        font-size: 40px !important;
    }
}

@media (min-width: 1044) {
    .logo-text {
        font-weight: 100 !important;
        font-size: 40px !important;
    }
}
/*----bootstrap override------*/
.bg-dark {
    background-color: #151f38 !important;
}
a {
    text-decoration: none !important;
}
